{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe{% endblock %}

{% block content %}
    
    <h1 class="font-allura">Bienvenue dans votre espace My Mom's Box</h1>
    
    <a href="{{ path('account') }}">Retourner dans votre espace</a>
    
    <hr>
    {% if notification %}
        <div class="alert alert-info">{{ notification }}</div>
    {% endif %}
    {{ form(form) }}
    <hr>
    
    

{% endblock %}