{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block content %}
    <h1 class="mb-3 ml-3 font-weight-normal font-allura">Réinitialiser mon mot de passe</h1>
    <a href="{{ path('app_login') }}" class="hvr-icon-back"><i class="fa fa-chevron-circle-left hvr-icon"></i> Retour</a>

    <div class="row">
        <div class="col-4">
            {% for message in app.flashes('notice') %}
                <div class="alert alert-info">{{ message }}</div>
            {% endfor %}
            <form method="post">

                <div class="form-group text-center font-helvetica-thin">
                    <label for="inputEmail">Email</label>
                    <input type="email"  name="email" id="inputEmail" class="form-control-sm" required autofocus>
                </div>

                <div class="form-group text-center">
                    <button class="btn btn-sm btn-outline-info" type="submit">
                       Je valide
                    </button>

                    <small><p class="font-helvetica-thin mt-3">Pas encore de compte ?<br>
                            <a href="{{ path('app_register') }}">Je me créer un compte</a>
                        </p></small>
                </div>

            </form>
        </div>
        <div class="col-6 offset-2">
            <img src="{{ asset('assets/img/moms_box_open_fond_transparent.png') }}" alt="Mom's Box ouverte" class="img-login">
        </div>

    </div>

{% endblock %}
