/*Déclarations polices d'écriture*/
@font-face{
    font-family: "Helvetica NeueThin";
    src: url("../fonts/HelveticaNeue Thin.ttf");
}
@font-face {
    font-family: "Helvetica NeueBd";
    src: url("../fonts/HelveticaNeueBd.ttf");
}
@font-face {
    font-family: "Allura";
    src: url("../fonts/Allura-Regular.ttf");
}

/*Mes classes générales*/
.font-allura{
    font-family: "Allura", cursive;
}

.font-helvetica-thin{
    font-family: "Helvetica NeueThin";
}
.font-helvetica-bold{
    font-family: "Helvetica NeueBd";
}
.gold-shadow:hover{
    -webkit-box-shadow: -1px -1px 18px 0px rgba(184, 134, 11, 0.75);
    -moz-box-shadow:    -1px -1px 18px 0px rgba(184, 134, 11, 0.75);
    box-shadow:         -1px -1px 18px 0px rgba(184, 134, 11, 0.75);
}
/*P.Base*/
.nav-log-basket{
    align-items: flex-end;
    width: 100%;
    justify-content: space-between;
}
.nav-log-btn {
    font-size: 20px;
    text-decoration: none;
    color: black;
}
.nav-log-btn:hover{
    color: #B2961D;
    text-decoration: none;
}
.infos-log{
    font-size: 13px;
}
.slogo{
    font-size: 2.2rem;
    padding: 0;
}
.slogan{
    font-size: 2rem;
    letter-spacing: 1px;
    position: relative;
    left: 35px;
    top: -15px;
}
.infos-co{
    font-size: 15px;
}
.main-nav{
    width: 100%;
    line-height: 1;
    margin-top: 2rem;
}
.main-slogo{
    line-height: 1;
    position: absolute;
}
div.main-nav.d-flex ul.navbar-nav.font-helvetica-thin{
    justify-content: space-evenly;
    width: 100%;
}
.nav-link{
    color: black;
}
.nav-link:hover{
    color: #B2961D;
}
.navbar-light .navbar-nav .nav-link:hover{
    color: #B2961D;
}
.dropdown-menu{
    background-color: #f8f9fa;
}
.dropdown-item{
    background-color: #f8f9fa;
}
.dropdown-item:hover{
    background-color: #f8f9fa;
    color: #B2961D;
}

.bg-ruban{
    background-image: url("../img/ruban.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 50rem;
    background-position: top;
}

/*Footer*/
.footer-distributed{
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    padding: 10px 20px;
}



/* Footer left */

.footer-distributed .footer-left{
    width: 40%;
}
.main-slogo-footer{
    padding-top: 30px;
}

/* The company logo */

.slogo-footer{
    width: 50%;
    color: black;
    text-align: center;
    margin-left: 3rem;
}
.slogo-footer:hover{
    color: #B2961D;
}
.hr-slogo{
    border-top: 1.5px groove #B2961D;
}
.slogan-footer:hover{
    color: #B2961D;
}

/* Footer links */

.footer-distributed .footer-links{
    color: rgba(0,0,0,.5);
    margin: auto;
    padding: 0;
}

.footer-distributed .footer-links a{

    line-height: 1.8;
    font-size: small;
    text-decoration: none;
    color:  inherit;
}
.footer-distributed .footer-links a:hover{
    color: #B2961D;
}

.footer-distributed .footer-company-name{
    color:  #222;
    font-size: 14px;
    font-weight: normal;
    margin: 0;

}

/* Footer Center */

.footer-distributed .footer-center{
    width: 35%;
    padding-top: 15px;
}

.footer-distributed .footer-center i{
    color: darkgoldenrod;
    width: 20px;
    height: 20px;
    text-align: center;
    margin: 10px 15px;
    vertical-align: middle;
}
.NoMansLand{
    padding-left: 8rem;
}

.footer-distributed .footer-center i.fa-envelope{
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p{

    color: rgba(0,0,0,.5);
    font-weight:400;
    vertical-align: middle;
    margin:0;
    font-family: "Helvetica NeueThin";
}
.info-link{
    text-decoration: none;
    color: rgba(0,0,0,.5);
    font-family: "Helvetica NeueThin";
    font-size: smaller;
}
.info-link:hover{
    color: #B2961D;
    text-decoration: none;
}
.footer-iframe{
    width: 90%;
}

.footer-distributed .footer-center p a{
    color:  lightseagreen;
    text-decoration: none;;
}

.footer-distributed .footer-links a:before {
    content: "|";
    font-weight:300;
    font-size: 20px;
    left: 0;
    color: #fff;
    padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
    content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
    width: 20%;
    padding-top: 15px;
}

.footer-distributed .footer-company-about{
    line-height: 20px;
    color:  #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span{
    color:  #92999f;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons{
    display:flex;
    justify-content: center;
    filter:url('#goo');
    margin-top: 25px;
}

.footer-distributed .footer-icons a{

    cursor: pointer;
    font-size: 20px;
    text-align: center;

}
/*Bouton animé des réseaux*/
.button-share {
    z-index: 99;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 30px;
    background: linear-gradient(45deg, rgba(2,0,36,1) 0%, rgba(184,134,11,1) 35%, rgba(178,150,29,1) 100%);
    border-radius: 20px;
    color: #FFF;
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 200;
    font-family: "Helvetica NeueThin";
}

.social {
    opacity: 0;
    position: relative;
    margin: 8px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: flex;

}

.clicked {
    opacity: 1;
    transition: 1.2s all ease;
    transform: translateY(56px);
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

    .footer-distributed{
        font: bold 14px sans-serif;
    }

    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right{
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }

    .footer-distributed .footer-center i{
        margin-left: 0;
    }

}

/*Pages Boutique (products)*/
.h1-products{
    font-size: 3.5rem;
}

.product-item h5{
    text-transform: uppercase;
}
.card-img-top{
    height: 250px;
}
.card-title{
    font-family: "Helvetica NeueBd";
    font-size: 1rem;
}
.product-subtitle{
    font-family: "Helvetica NeueThin";
}
.product-price{
    font-family: "Helvetica NeueThin";
}
.product-one-subtitle{
    line-height: 1.8;
    font-family: "Helvetica NeueBd";
}
.product-description{
    font-family: "Helvetica NeueThin";
}
.product-one-price{
    font-family: "Helvetica NeueThin";
}

/*Formulaires*/
.form-control{
    border: 1px groove #B2961D;
}
.form-control::placeholder{
    opacity: .5;
    font-size: 13px;
    font-family: "Helvetica NeueThin";
}
.form-control:focus{
    border-color: #B2961D;
    box-shadow: 0 0 0 .1rem #B2961D;
}