{% extends 'base.html.twig' %}

{% block title %}Je m'inscris{% endblock %}

{% block content %}



    <div class="row">
        <div class="col-sm-6 ml-5">
            <h1 class="font-allura text-center">Inscription à My Mom's Box</h1>

            {% if notification %}
                <div class="alert alert-info">{{ notification }}</div>
            {% endif %}

            {{ form(form) }}
        </div>
        <div class="col-4 offset-1">
            <img src="{{ asset('assets/img/moms_black_box_big.png') }}" alt="moms box inscription" class="img-box-register">
        </div>
    </div>
    


{% endblock %}
