{% extends 'base.html.twig' %}

{% block title %}Je m'inscris{% endblock %}

{% block content %}

    <h1 class="font-allura text-center mb-5">Inscription à My Mom's Box</h1>

    <div class="m-auto col-sm-8">
        {{ form(form) }}
    </div>


{% endblock %}
