{% extends 'base.html.twig' %}

{% block title %}Mon abonnement semestriel{% endblock %}

{% block javascript %}
<script src="https://js.stripe.com/v3/"></script>
{% endblock %}

{% block content %}
    <h1 class="font-allura">Je profite de l'abonnement semestriel</h1>
    <button id="checkout-btn-price-semester">Je confirme ma commande</button>


{% endblock %}

{% block script %}

    <script type="text/javascript">
        var createCheckoutSession = function(priceId) {
            return fetch("/mon-compte/je-m-abonne-semestriel/create-session/{{ reference }}", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    priceId: priceId
                })
            }).then(function(result) {
                return result.json();
            });
        };


        var stripe = Stripe("pk_test_51HuFssLrKb2GsnXLvu61PHN3nMvmzFao73y4OJvZL5HnbvZrppyWJos8IkojsRSHHyYkEG5UaGURDKoQuvpir1Q8003rzxex6x");

        var PriceId = 'price_1Hv3kKLrKb2GsnXLcsV4Qi8Z';
        document
            .getElementById("checkout-btn-price-semester")
            .addEventListener("click", function(evt) {
                createCheckoutSession(PriceId).then(function(data) {
                    // Call Stripe.js method to redirect to the new Checkout page
                    stripe
                        .redirectToCheckout({
                            sessionId: data.sessionId
                        })
                        .then(handleResult);
                });
            });

    </script>

{% endblock %}